select director from movie group by director having count(*) = 1
select invoice_number, count(*) from financial_transactions group by invoice_number
select distinct year from movie as t1 join rating as t2 on t1.mid = t2.mid where t2.stars >= 4 order by t1.year
select date_left_staff from staff where first_name = "Janessa" and last_name = "Sawayn"
select count(*) from staff where first_name = "Ludie"
select t2.title, t1.stars, t2.director, min(t1.stars) from rating as t1 join movie as t2 on t1.mid = t2.mid group by t2.director
select t2.account_name, t1.account_id, count(*) from financial_transactions as t1 join accounts as t2 on t1.account_id = t2.account_id group by t1.account_id
select distinct year from movie as t1 join rating as t2 on t1.mid = t2.mid where t2.stars >= 4 order by t1.year
select mid, avg(stars) from rating where mid not in (select t1.mid from rating as t1 join reviewer as t2 on t1.rid = t2.rid where t2.name = "Brittany Harris") group by mid
select t1.account_id, t2.account_name from financial_transactions as t1 join accounts as t2 on t1.account_id = t2.account_id group by t1.account_id having count(*) >= 4
select t1.director, t1.title from movie as t1 join rating as t2 on t1.mid = t2.mid where t2.stars = 5
select mid, avg(stars) from rating group by mid having count(*) >= 2
select t1.city from addresses as t1 join staff as t2 on t1.address_id = t2.staff_address_id where t2.first_name = "Janessa" and t2.last_name = "Sawayn"
select nickname from staff where first_name = "Janessa" and last_name = "Sawayn"
select t1.title, t1.year from movie as t1 join movie as t2 on t1.director = t2.director where t1.title != t2.title
select t1.account_id, t2.account_name from financial_transactions as t1 join accounts as t2 on t1.account_id = t2.account_id group by t1.account_id having count(*) >= 4
select account_id from financial_transactions group by account_id order by count(*) desc limit 1
select title from movie where director = 'James Cameron' and year > 2000
select distinct t2.director from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid where t3.name = 'Sarah Martinez'
select t1.country, t1.state_province_county from addresses as t1 join staff as t2 on t1.address_id = t2.staff_address_id where t2.first_name = "Janessa" and t2.last_name = "Sawayn"
select mid, avg(stars) from rating where mid not in (select t1.mid from rating as t1 join reviewer as t2 on t1.rid = t2.rid where t2.name = "Brittany Harris") group by mid
select t1.detention_type_code, t2.detention_type_description from detention as t1 join ref_detention_type as t2 on t1.detention_type_code = t2.detention_type_code group by t1.detention_type_code order by count(*) asc limit 1
select mid from rating except select t1.mid from rating as t1 join reviewer as t2 on t1.rid = t2.rid where t2.name = "Brittany Harris"
select t2.zip_postcode from customers as t1 join addresses as t2 on t1.customer_address_id = t2.address_id where t1.first_name = "Carole" and t1.last_name = "Bernhard"
select t1.city, count(*) from addresses as t1 join staff as t2 on t1.address_id = t2.staff_address_id group by t1.city order by count(*) desc limit 1
select t1.line_1 from addresses as t1 join students as t2 on t1.address_id = t2.address_id intersect select t1.line_1 from addresses as t1 join teachers as t2 on t1.address_id = t2.address_id
select t2.title, t1.mid from rating as t1 join movie as t2 on t1.mid = t2.mid group by t1.mid order by count(*) desc limit 1
select distinct title from movie except select t2.title from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid where t3.name = 'Chris Jackson'
select count(*) from lessons where lesson_status_code = "Cancelled"
select t1.invoice_date, t1.order_id, t2.order_details from invoices as t1 join orders as t2 on t1.order_id = t2.order_id
select date_became_customer from customers where first_name = "Carole" and last_name = "Bernhard"
select count(*) from addresses where state_province_county = "Georgia"
select t2.first_name, t2.last_name from customer_payments as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id having count(*) > 2
select t2.customer_last_name, t1.customer_id, t2.phone_number from orders as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id order by count(*) desc limit 1
select date_joined_staff from staff where first_name = "Janessa" and last_name = "Sawayn"
select order_id, sum(product_quantity) from order_items group by order_id
select date_joined_staff from staff where first_name = "Janessa" and last_name = "Sawayn"
select title from movie where director = 'James Cameron' and year > 2000
select t2.first_name, t2.last_name from customer_payments as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id having count(*) > 2
select distinct t3.name, t2.title, t1.stars from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid where t2.director = t3.name
select max(t1.stars), t2.year from rating as t1 join movie as t2 on t1.mid = t2.mid where t2.year = (select max(year) from movie)
select t1.title, t1.director from movie as t1 join movie as t2 on t1.director = t2.director where t1.title != t2.title order by t1.director, t1.title
select customer_status_code, cell_mobile_phone_number, email_address from customers where first_name = "Marina" or last_name = "Kohler"
select title from movie where year = (select max(year) from movie)
select avg(t1.stars), t2.title from rating as t1 join movie as t2 on t1.mid = t2.mid where t2.year = (select min(year) from movie)
select avg(transaction_amount), min(transaction_amount), max(transaction_amount), sum(transaction_amount) from financial_transactions
select count(*) from staff where first_name = "Ludie"
select t1.customer_id, t2.customer_first_name, t2.customer_last_name from accounts as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id order by count(*) desc limit 1
select last_name from customers intersect select last_name from staff
select count(*) from lessons as t1 join customers as t2 on t1.customer_id = t2.customer_id where t2.first_name = "Ray"
select t2.order_id, t2.order_details from invoices as t1 join orders as t2 on t1.order_id = t2.order_id group by t2.order_id having count(*) > 2
select t2.name from rating as t1 join reviewer as t2 on t1.rid = t2.rid group by t1.rid having count(*) >= 3
select t1.state_province_county from addresses as t1 join staff as t2 on t1.address_id = t2.staff_address_id group by t1.state_province_county having count(*) between 2 and 4
select t2.invoice_number, t2.invoice_date from financial_transactions as t1 join invoices as t2 on t1.invoice_number = t2.invoice_number group by t1.invoice_number order by count(*) desc limit 1
select t2.title, t1.mid from rating as t1 join movie as t2 on t1.mid = t2.mid group by t1.mid order by count(*) desc limit 1
select t1.account_name, t1.other_account_details from accounts as t1 join customers as t2 on t1.customer_id = t2.customer_id where t2.customer_first_name = "Meaghan" and t2.customer_last_name = "Keeling"
select t2.title, t2.director from rating as t1 join movie as t2 on t1.mid = t2.mid where t1.stars > (select avg(t1.stars) from rating as t1 join movie as t2 on t1.mid = t2.mid where t2.director = "James Cameron")
select mid, avg(stars) from rating group by mid having count(*) >= 2
select max(t1.stars), t2.year from rating as t1 join movie as t2 on t1.mid = t2.mid where t2.year = (select max(year) from movie)
select count(*) from lessons as t1 join customers as t2 on t1.customer_id = t2.customer_id where t2.first_name = "Rylan" and t2.last_name = "Goodwin" and t1.lesson_status_code = "Completed"
select count(*) from lessons as t1 join staff as t2 on t1.staff_id = t2.staff_id where t2.first_name like "%a%"
select t3.name, t2.title, t1.stars, t1.ratingdate from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid order by t3.name, t2.title, t1.stars
select avg(t1.stars), t2.title from rating as t1 join movie as t2 on t1.mid = t2.mid where t2.year = (select min(year) from movie)
select count(distinct student_id) from students_in_detention
select t3.name, t2.title, t1.stars, t1.ratingdate from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid order by t3.name, t2.title, t1.stars
select t1.title, t1.year from movie as t1 join movie as t2 on t1.director = t2.director where t1.title != t2.title
select count(*) from lessons as t1 join staff as t2 on t1.staff_id = t2.staff_id where t2.first_name like "%a%"
select distinct t3.name from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid where t2.title = 'Gone with the Wind'
select mid from rating except select t1.mid from rating as t1 join reviewer as t2 on t1.rid = t2.rid where t2.name = "Brittany Harris"
select count(*) from addresses where state_province_county = "Georgia"
select avg(transaction_amount), min(transaction_amount), max(transaction_amount), sum(transaction_amount) from financial_transactions
select t1.account_id, t1.date_account_opened, t1.account_name, t1.other_account_details from accounts as t1 join customers as t2 on t1.customer_id = t2.customer_id where t2.customer_first_name = 'Meaghan'
select t2.account_name, t1.account_id, count(*) from financial_transactions as t1 join accounts as t2 on t1.account_id = t2.account_id group by t1.account_id
select t2.customer_last_name, t1.customer_id, t2.phone_number from orders as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id order by count(*) desc limit 1
select order_id, count(*) from order_items group by order_id
select max(stars), min(stars) from rating
select date_left_staff from staff where first_name = "Janessa" and last_name = "Sawayn"
select count(*) from lessons as t1 join customers as t2 on t1.customer_id = t2.customer_id where t2.first_name = "Rylan" and t2.last_name = "Goodwin" and t1.lesson_status_code = "Completed"
select distinct name from reviewer as t1 join rating as t2 on t1.rid = t2.rid where ratingdate = "null"
select order_id, sum(product_quantity) from order_items group by order_id
select count(*), t1.director from movie as t1 join rating as t2 on t1.mid = t2.mid group by t1.director
select t2.customer_first_name, t1.customer_id from accounts as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id having count(*) >= 2
select count(*), account_id from financial_transactions
select date_of_birth from staff where first_name = "Janessa" and last_name = "Sawayn"
select t2.title, t1.stars, t2.director, max(t1.stars) from rating as t1 join movie as t2 on t1.mid = t2.mid where director != "null" group by director
select t2.title, avg(t1.stars) from rating as t1 join movie as t2 on t1.mid = t2.mid group by t1.mid order by avg(t1.stars) desc limit 1
select count(*) from lessons as t1 join customers as t2 on t1.customer_id = t2.customer_id where t2.first_name = "Ray"
select t1.line_1, avg(t2.monthly_rental) from addresses as t1 join student_addresses as t2 on t1.address_id = t2.address_id group by t2.address_id
select t1.title, t1.director from movie as t1 join movie as t2 on t1.director = t2.director where t1.title != t2.title order by t1.director, t1.title
select first_name, middle_name, last_name from staff
select t1.invoice_date, t1.order_id, t2.order_details from invoices as t1 join orders as t2 on t1.order_id = t2.order_id
select product_id, count(distinct order_id) from order_items group by product_id
select max(amount_outstanding), min(amount_outstanding), avg(amount_outstanding) from customers
select last_name from customers intersect select last_name from staff
select t1.city, count(*) from addresses as t1 join staff as t2 on t1.address_id = t2.staff_address_id group by t1.city order by count(*) desc limit 1
select avg(price) from lessons as t1 join staff as t2 on t1.staff_id = t2.staff_id where t2.first_name = "Janessa" and t2.last_name = "Sawayn"
select t2.title, t1.stars, t2.director, min(t1.stars) from rating as t1 join movie as t2 on t1.mid = t2.mid group by t2.director
select distinct title from movie except select t2.title from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid where t3.name = 'Chris Jackson'
select t2.title, t1.rid, t1.stars, min(t1.stars) from rating as t1 join movie as t2 on t1.mid = t2.mid group by t1.rid
select date_became_customer from customers where first_name = "Carole" and last_name = "Bernhard"
select t2.name, avg(t1.stars) from rating as t1 join reviewer as t2 on t1.rid = t2.rid group by t2.name
select count(*), account_id from financial_transactions
select t1.customer_id, t2.customer_first_name, t2.customer_last_name from accounts as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id order by count(*) desc limit 1
select rid from rating except select rid from rating where stars = 4
select date_of_birth from staff where first_name = "Janessa" and last_name = "Sawayn"
select t1.customer_id, t2.customer_first_name, t2.customer_last_name, count(*) from accounts as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id
select t2.title, t1.rid, t1.stars, min(t1.stars) from rating as t1 join movie as t2 on t1.mid = t2.mid group by t1.rid
select t1.lesson_id from lessons as t1 join staff as t2 on t1.staff_id = t2.staff_id where t2.first_name = "Janessa" and t2.last_name = "Sawayn" and nickname like "%s%"
select t2.customer_first_name, t1.customer_id from accounts as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id having count(*) >= 2
select account_id, date_account_opened, account_name, other_account_details from accounts
select t1.zip_postcode from addresses as t1 join staff as t2 on t1.address_id = t2.staff_address_id where t2.first_name = "Janessa" and t2.last_name = "Sawayn"
select customer_id from customers except select customer_id from accounts
select order_id, count(distinct product_id) from order_items group by order_id
select count(*) from lessons where lesson_status_code = "Cancelled"
select t2.name from rating as t1 join reviewer as t2 on t1.rid = t2.rid where t1.stars > 3
select product_id, count(distinct order_id) from order_items group by product_id
select t1.lesson_id from lessons as t1 join staff as t2 on t1.staff_id = t2.staff_id where t2.first_name = "Janessa" and t2.last_name = "Sawayn" and nickname like "%s%"
select title from movie where year = (select max(year) from movie)
select director from movie where title = 'Avatar'
select distinct t3.name from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid where t2.title = 'Gone with the Wind'
select t2.order_id, t2.order_details from invoices as t1 join orders as t2 on t1.order_id = t2.order_id group by t2.order_id having count(*) > 2
select distinct t3.name, t2.title, t1.stars from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid where t2.director = t3.name
select order_id, count(distinct product_id) from order_items group by order_id
select customer_status_code, cell_mobile_phone_number, email_address from customers where first_name = "Marina" or last_name = "Kohler"
select account_id, date_account_opened, account_name, other_account_details from accounts
select count(*), customer_id from accounts group by customer_id
select distinct t2.director from rating as t1 join movie as t2 on t1.mid = t2.mid join reviewer as t3 on t1.rid = t3.rid where t3.name = 'Sarah Martinez'
select invoice_number, count(*) from financial_transactions group by invoice_number
select rid from rating except select rid from rating where stars = 4
select t2.title, t1.stars, t2.director, max(t1.stars) from rating as t1 join movie as t2 on t1.mid = t2.mid where director != "null" group by director
select t2.name from rating as t1 join reviewer as t2 on t1.rid = t2.rid group by t1.rid having count(*) >= 3
select t2.name, avg(t1.stars) from rating as t1 join reviewer as t2 on t1.rid = t2.rid group by t2.name
select t1.customer_id, t2.customer_first_name, t2.customer_last_name, count(*) from accounts as t1 join customers as t2 on t1.customer_id = t2.customer_id group by t1.customer_id
select sum(lesson_time) from lessons as t1 join staff as t2 on t1.staff_id = t2.staff_id where t2.first_name = "Janessa" and t2.last_name = "Sawayn"
select title from movie where year > (select max(year) from movie where director = "Steven Spielberg")
select t1.account_id, t1.date_account_opened, t1.account_name, t1.other_account_details from accounts as t1 join customers as t2 on t1.customer_id = t2.customer_id where t2.customer_first_name = 'Meaghan'
